.noRouded{
    border-radius: 0!important;
}

.btnTab{
    background-color: #f0edf4!important;
    padding: .5em 1.3em!important;
    font-size: 1.1em!important;
}

.btnTab:hover, .btnTab[disabled]{
    opacity: 1!important;
    background-color: #FFFBFC!important;
}

.sideMenuInactive{
    pointer-events: none;
}